body {
  margin: 0;
}

.App {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.Header {
  border-bottom: 1px solid lightgray;
}

.Content {
  display: flex;
  align-items: center;
  text-align: center;
}

td.Guesses {
  border: 2px solid #aaa;
  width: 20%;
  height: 16%;
  transition: 1s;
}

td.Correct {
  border-color: #2a5;
  background-color: #2a5;
  color: white;
}

td.InWord {
  border-color: #cc5;
  background-color: #cc5;
  color: white;
}

td.Incorrect {
  border-color: #aaa;
  background-color: #aaa;
  color: white;
}

table.Guesses {
  margin: auto;
  width: 45vh;
  height: 55vh;
  border-spacing: 8px;
}

.Keyboard {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 5px;
  gap: 4px;
}

.Key {
  width: 9vw;
  max-width: 64px;
  height: 100%;
}

.KeyLong {
  width: 11vw;
  max-width: 96px;
  height: 100%;
}

.Key, .KeyLong {
  text-overflow: ellipsis;
  overflow: hidden;
  background: lightgray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.KeyboardRow {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 4px;
}

.PopupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.Popup {
  pointer-events: all;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px;
  box-shadow: 0px 0px 32px gray;
  transition: 0.5s;
}
